
<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search" class="search-input-form">
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="SEARCH"
      autocomplete="off"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
    >
    <input name="options[prefix]" type="hidden" value="last">
    {% unless section.settings.search_icon == blank %}
      <button>
        <span>
          {{ section.settings.search_icon }}
        </span>
      </button>
    {% else %}
      <button>
        <span>
          {% render 'gelico-icons', name: 'search' %}
        </span>
      </button>
    {% endunless %}
    <div id="predictive-search" tabindex="-1"></div>
  </form>
  <span class="close-search-drawer" close-search-drawer>{% render 'gelico-icons', name: "close" %}</span>
</predictive-search>

<script>
  



</script>