.hs1-megamenu-container {
    position: absolute;
    left: 0;
    top: calc(100%);
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 0 30px 0;
    border-top: 1px solid #000;
    visibility: hidden;
    z-index: -999;
  }
  .hs1-megamenu-li:hover .hs1-megamenu-container{
    z-index: 99;
    visibility: visible;
    transition: .2s;
  }
  .hs1-megamenu-li:hover .first-layer.hs1-plus-icon {
    visibility: hidden;
  }
  .hs1-megamenu-li:hover .first-layer.hs1-minus-icon {
    visibility: visible;
  }
  
  .hs1-megamenu-wrapper {
    display: grid;
    grid-gap: 40px;
  }
  .hs1-mega-image-wrapper {
    display: grid;
    grid-gap: 15px;
  }
  .hs1-mega-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .hs1-megamenu-second-layer-ul{
    display: flex;
    flex-direction: column;
    /* row-gap: 30px; */
    column-gap: 40px;
    max-height: 400px;
    /* flex-wrap: wrap; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .hs1-megamenu-second-layer-ul.grid__styles{
    /* display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 40px;
    max-height: 400px;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 40px;
    max-height: 400px;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .hs1-megamenu-third-layer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .hs1-megamenu-second-layer-li {
    /* max-width: 23%; */
  }
  .hs1-megamenu-second-layer-a,
  .hs1-megamenu-third-layer-a {
    text-decoration: none;
  }
  .hs1-megamenu-second-layer-ul.grid__styles .hs1-megamenu-second-layer-a{
    padding: 0 0 10px 0;
    margin: 0 0 12px 0;
    border-bottom: 1px solid #000;
  }
  .hs1-megamenu-second-layer-a {
    display: block;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    box-sizing: border-box;

  }

  .hs1-megamenu-third-layer-a {
    /* text-transform: capitalize; */
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }